body{
    color: #fff;
    background-color: #F2EFE7;
}
.hero-container {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center; /* Center the content */
}

.hero-container::after,
.hero-container::before{
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #F2EFE7;
    z-index: -1;
    filter: blur(225px);
    position: absolute;
}

.hero-container::after{
    top: -3rem;
    left: -5rem;
}

.hero-container::before{
    bottom: 2rem;
    right: 0rem;
}

.hero-content {
    flex: 1;
    max-width: 600px; /* Limit the text content width */
}

.hero-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
    color: #000;
}
.hero-content h3 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
    margin-bottom: 1rem;
    color: #000;
}

.hero-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    color: #000;
    text-align: justify;
}

.hero-btns {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Increase spacing between icons and button */
    margin-top: 1rem;
}

.social-link {
    display: inline-block;
    text-decoration: none;
}

.social-icon {
    width: 40px; /* Increase icon size */
    height: 40px;
    opacity: 1; /* Make the icons slightly transparent */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2); /* Slight zoom effect on hover */
    opacity: 1; /* Fully visible on hover */
}

.hero-btns .download-btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.7rem 2.5rem; /* Adjust padding for a larger button */
    background: linear-gradient(90deg, #F2EFE7 5%, #48A6A7 100%);
    color: #021111;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-btns .download-btn:hover {
    color: #F2EFE7;
    background: #006A71;
    outline: 1.5px solid #006A71;
}

.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.hero-img .profile-img {
    width: 30rem; 
    height: 30rem;
    border-radius: 1.5rem;
    overflow: hidden; /* Ensures round profile picture */
    border: 2px solid #000; /* Optional border around profile image */
}

.hero-img .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes sure the image fits well */
}

.hero-img .tech-icons-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.tech-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1.5px solid #000;
}

.tech-icon img {
    width: 3rem;
    height: auto;
}

.tech-icon img:hover {
    transform: translateY(-0.5rem);
    transition: all 0.3s ease;
}
