@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.nav-wrapper {
    background: rgba(0, 106, 113, 0.8);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust spacing between logo and content
    padding: 0.5rem 0; /* Reduce padding */
    margin: 0 auto 0 5rem;
    margin-left: 2rem; 
}

.logo {
    width: 100px;
    height: 70px;
    object-fit: contain;
    padding: 0.2rem;
    border-radius: 25%;
    border: 2px solid #48A6A7; /* Add a border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    margin-left: 8.5rem;
}

.logo:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); /* Enhance shadow on hover */
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: -1rem; /* Adjust spacing between menu items */
    list-style: none;
}

.nav-content li {
    margin: 0 2rem; /* Reduce margin between list items */
}

.menu-item {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    cursor: pointer
}

.menu-item::before {
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #F2EFE7 0%, #48A6A7 100%);
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.contact-btn{
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #021111;
    background: linear-gradient(90deg, #F2EFE7 0%, #48A6A7 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline:1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-btn:hover{
    color: #F2EFE7;
    background: #006A71;
    outline: 1.5px solid #006A71;
}

/* .menu-btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    color: #fff;
    background: linear-gradient(90deg, #c7c9ca 0%, #e7e8e9 100%);
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}

.menu-btn:hover{
    color: #ffffff;
    background: #000;
    border: 1px solid #84878b;
} */
@media (max-width: 769px) {
    .logo{
        width: 5rem;
        height: auto;
    }
}
@media (max-width: 769px){
    .menu-btn{
        display: block;
    }

    .nav-content ul{
        display: none;
    }
}

@media  (max-width: 1325px){
    .nav-wrapper{
        padding: 0 2rem;
    }
} 